include README.rst
recursive-include ultrastar_pitch/binaries/tf2_256_96_12_astft_pca_0.model *
recursive-include ultrastar_pitch/binaries/tf2_256_96_12_astft_pca_1.model *
include ultrastar_pitch/binaries/pca_components.npy
include ultrastar_pitch/binaries/pca_mean.npy
